<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - product 1 </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur consequat euismod. Nullam vehicula fringilla turpis ut lacinia. Phasellus pretium sapien id diam ultrices lobortis. Aenean in cursus felis. Ut sapien ligula, pretium sit amet lectus sed, pharetra tempus orci. In ac facilisis magna. Nunc id risus vel nunc tristique iaculis.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - product 2 </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur consequat euismod. Nullam vehicula fringilla turpis ut lacinia. Phasellus pretium sapien id diam ultrices lobortis. Aenean in cursus felis. Ut sapien ligula, pretium sit amet lectus sed, pharetra tempus orci. In ac facilisis magna. Nunc id risus vel nunc tristique iaculis.
  </div>
</div>
